.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.gradle/
.idea/
build/
target/
out/
gen/
gradle/
*.iml
*.ipr
gradlew
gradlew.bat
local.properties
crashlytics.properties
crashlytics-build.properties
